#a1 {
background-color: rgb(255,0,0)
}
  #a1 p {
  color: white;
  }
#b1 {
background-color: rgb(0,255,0)
}
  #b1 p {
    color:black;
  }
#b2 {
background-color: rgb(0,0,255)
}
  #b2 p {
  color: white;
  }
#c1 {
background-color: rgb(255,255,0)
}
  #c1 p {
  color:black;
  }
#d1 {
background-color: rgb(255,0,255)
}
  #d1 p {
  color: black;
  }
#d2 {
background-color: rgb(0,255,255)
}
  #d2 p{
  color:black;
  }
#e1 {
background-color: rgb(255,255,255)
}
  #e1 p{
  color:black
  }
#f1 {
background-color: rgb(0,0,0)
}
  #f1 p {
  color: white;
  }
